html {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
}
body * {
  text-align: center;
}
.welcome-screen, .results-screen {
  justify-content: space-evenly;
}
.question-screen {
  justify-content: space-between;
}
.question-screen::after {
  content: "";
}
.question-header {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  padding: 10px;
}
#next-button[disabled] {
  visibility: hidden;
}
input[type="submit"] {
  min-height: 3em;
  width: 90vw;
  white-space: normal;
  margin-bottom: 6px;
}
.right-answer {
  background: green;
  color: inherit;
}
.wrong-answer {
  background: red;
  color: inherit;
}

@media all and (min-width: 600px) {
  body {
    max-width: 800px;
    max-height: 500px;
  }
  main {
    width: 100%;
  }
  #q-form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  input[type="submit"] {
    width: 90%;
  }
}
