html {
  overflow: hidden;
}
body * {
  text-align: center;

}

#next-button[disabled] {
    visibility: hidden;
}

input[type = "submit"] {
  width: 90vw;
  white-space: normal;
  margin-bottom: 6px;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  outline: 2px solid black;
  align-items: center;
}
.welcome-screen, .results-screen {
  justify-content: space-evenly;
}
.question-screen {
  justify-content: space-between;
}
.question-screen::after {
  content: "";
}
.question-header {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  padding: 10px;
}
.right-answer {
  background: green;
  color: inherit;
}
.wrong-answer {
  background: red;
  color: inherit;
}

@media all and (min-width: 600 ) {
  input[type="submit"] {
    width: 45%;
  }
}
